Source: libcariad-image-raw565
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libcariad-image-raw565
Replaces: libdisplaycore-image-raw565
Section: main
Architecture: all
XBSC-Group: Cariad
XBSC-Subgroup: Image
Depends: libcariad-core
Provides: Raw565.h
Description: Raw565
 Display raw RGB565 images from memory



